# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Foundry
out/
cache/
broadcast/

# Node
node_modules/
.env

# Circom/snarkjs artifacts (usually huge)
circuits/build/
circuits/*.zkey
circuits/*.r1cs
circuits/*.wasm
circuits/*.sym
